astunparse
expecttest>=0.2.1
hypothesis
numpy
psutil
pyyaml
requests

setuptools<=72.1.0
types-dataclasses
typing-extensions>=4.10.0
sympy==1.13.1 ; python_version >= "3.9"
filelock
networkx
jinja2
fsspec
lintrunner ; platform_system != "Windows"
ninja
packaging
optree>=0.13.0

matplotlib
wandb
jupyterlab
black
pre-commit
optuna
wfdb
pytest